{% block form %}
    <p>
        {{ form_label(form[fieldName], field.label | trans({}, generator.transDomain)) }}
        <div>
            {{ form_errors(form[fieldName]) }}
            {{ form_widget(form[fieldName], { 'attr': {'class': field.class ~ ' ' ~ field.size} }) }}
            {% if field.help %}
            <span class="help-block">
                {{ field.help | trans({}, generator.transDomain) }}
            </span>
            {% endif %}
        </div>
        <div class="clear">&nbsp;</div>
    </p>
{% endblock %}