{% extends theme|default('CoregenAdminGeneratorBundle::layout.html.twig') %}

{% block title %}Coregen Sample Page{% endblock %}

{% block content %}
<h1>Coregen Admin Generator Sample</h1>
{% endblock %}

